@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter[400].ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter[500].ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Inter';
    src: url('../fonts/Inter[600].ttf');
    font-weight: bold;
}