@import "./reset.css";
@import "./fonts.css";

:root {
    --main-color: #8FE095;
    --green-color: #4DD57E;
    --white-color: #EBF2FB;
    --primary-color: #F2C51C;
    --secondary-color: #040415;
}

* {
    font-family: "Inter";
}

main {
    width: 100%;
    height: 100%;
}

/* Main header */
.main-header {
    position: relative;
    top: 0;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 54px;
    background-color: var(--secondary-color);

    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.main-header a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.6rem;
    height: 100%;
}

.logo-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-content span {
    color: var(--primary-color);
}

.logo-content:hover {
    color: var(--primary-color);
}

.logo-content:hover span {
    color: #fff;
}

/* Main section */

.main-section {
    height: 100%;
    width: 100%;
    background-color: var(--main-color);

    font-size: 1.95rem;
}

.main-section article {
    display: flex;
    flex-direction: row;
    padding: 80px;
}

.main-section-body p {
    font-size: 2.4rem;
    font-weight: 500;
}

.side-a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.side-a article {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.side-b {
    display: flex;
    height: 100%;
    justify-content: center;
}

.side-b img {
    max-width: 50vw;
    margin-top: -60px;
}

.main-section-body p:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

/* Features */

.features-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.features-section article {
    display: flex;
    flex-direction: column;
}

.features-section article header {
    text-align: center;
    margin-bottom: 25px;
}

.features-section article ul {
    display: flex;
    flex-wrap: wrap;
}

.features-section article ul li {
    flex: 50%;
    flex-basis: 50%;
    margin-bottom: 10px;
    text-align: center;
}






/* Action button */
.action-btn {
    border: 2px solid var(--green-color);
    -webkit-box-pack: center;
    justify-content: center;


    border-radius: 400px;
    background-color: var(--green-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 15px;
    opacity: 0.95;
    transition: 0.3s;
}

.action-btn:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.03);
}

.action-btn-content button {
    font-size: 1.8rem;
}